{include file="public/header" /}

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-b-30"><i cclass="ti-flickr m-r-5"></i> <a href="{:url('Cate/index')}"> {$parentCate.name} </a> </h4>
                    {foreach $sonCates as $sonCate}
                    <a href="{:url('Cate/CatePlate')}?CateId={$sonCate.id}&parentId={$parentCate.id}" {if condition="$sonCate.id==$CateId"}class="active"{/if}>
           				<button class="btn btn-default waves-effect waves-light btn-sm m-b-5">{$sonCate.name}</button>
                       	&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    {/foreach}
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="panel panel-border {if condition='!empty($CateId)'} panel-custom {/if}">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                           	{if condition="empty($CateId)"}
                           		全部分类
                           	{else}
                           		{$parentCates[$CateId]['name']}
                           	{/if}
                        </h3>
                    </div>
                    <div class="panel-body">
                    	{foreach $topHeaderCates as $cId=>$cateData}
                    		{if condition="empty($CateId)"}
                			<div class="panel panel-border panel-custom">
		                    	<div class="panel-heading">
			                        <h5 class="panel-title"> 
	                        			<a href="{:url('Cate/index')}?CateId={$cateData.id}" class="user-list-item">{$cateData.name}</a>
			                        </h5>
			                    </div>
	                       		<div class="panel-body">
	                       			{foreach $cateData['son'] as $sonCateId=>$sonCateData}
	                                    <a href="{:url('Cate/CatePlate')}?CateId={$sonCateId}&parentId={$cId}">
		                       				<button class="btn btn-default waves-effect waves-light btn-sm m-b-5">{$sonCateData.name}</button>
		                                   	&nbsp;&nbsp;&nbsp;&nbsp;
	                                    </a>
	                                {/foreach}
	                       		</div>
	                       	</div>
                       		{elseif condition="$CateId==$cId"}
                       			{foreach $cateData['son'] as $sonCateId=>$sonCateData}
                                    <a href="{:url('Cate/CatePlate')}?CateId={$sonCateId}&parentId={$cId}">
	                       				<button class="btn btn-default waves-effect waves-light btn-sm m-b-5">{$sonCateData.name}</button>
	                                   	&nbsp;&nbsp;&nbsp;&nbsp;
                                    </a>  
                                {/foreach}
                       		{/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>



{include file="public/footer" /}