{include file="public/header" /}

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-b-30"><i cclass="ti-flickr m-r-5"></i> <a href="{:url('Cate/index')}"> {$parentCate.name} </a> </h4>
                    {foreach $sonCates as $sonCate}
                    <a href="{:url('Cate/CatePlate')}?CateId={$sonCate.id}&parentId={$parentCate.id}">
           				<button class="btn {if condition='$sonCate.id==$CateId'}btn-info{else}btn-default{/if} waves-effect waves-light btn-sm m-b-5">{$sonCate.name}</button>
                       	&nbsp;&nbsp;&nbsp;&nbsp;
                    </a>
                    {/foreach}
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
               	<div class="row">

               		{foreach $plateList as $plate}
               		<div class="col-lg-6">
			            <div class="bg-picture card-box">
			                <div class="profile-info-name">
			                    <img src="/{$plate.headimg}" class="img-thumbnail" alt="profile-image">

			                    <div class="profile-info-detail">
			                        <h3 class="m-t-0 m-b-0">{$plate.name}</h3>
			                        <p class="text-muted m-b-20"> 版主: <i> {$users[$plate.userid]['nikename']} </i></p>
			                        <p>{$plate.info}</p>
			                    </div>

			                    <div class="clearfix"></div>
			                </div>
			            </div>
               		</div>
               		{/foreach}

               	</div>
            </div>
        </div>



{include file="public/footer" /}