{include file="public/header" /}
	

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0"><i cclass="ti-flickr m-r-5"></i> <a href="{:url('Cate/index')}"> 版块分类 </a> </h4>
                    <ul class="list-group m-b-0 user-list">
                        {foreach $parentCates as $parentCate}
                        <li class="list-group-item {if condition='$cateData.id==$CateId'} active {/lf}">
                            <a href="{:url('Cate/index')}?CateId={$cateData.id}" class="user-list-item">
                                <div class="user-desc" style="margin-left:0px;">
                                    <span style="height:30px;line-height:30px;">{$parentCate.name}</span>
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">

            </div>
        </div>


{include file="public/footer" /}