{include file="public/header" /}
	

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0"><i cclass="ti-flickr m-r-5"></i> <a href="{:url('Cate/index')}"> 版块分类 </a> </h4>
                    <ul class="list-group m-b-0 user-list">
                        {foreach $parentCates as $parentCate}
                        <li class="list-group-item {if condition='$parentCate.id==$CateId'} active {/if}">
                            <a href="{:url('Cate/index')}?CateId={$parentCate.id}" class="user-list-item">
                                <div class="user-desc" style="margin-left:0px;">
                                    <span style="height:30px;line-height:30px;">{$parentCate.name}</span>
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-6">
                <div class="panel panel-border panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                           	{if condition="empty($CateId)"}
                           		全部分类
                           	{else}
                           		{$parentCates[$CateId]['name']}
                           	{/if}
                        </h3>
                    </div>
                    <div class="panel-body">
                    	{foreach $topHeaderCates as $cId=>$cateData}
                    		{if condition="empty($CateId)"}
                			<div class="panel panel-border panel-custom">
		                    	<div class="panel-heading">
			                        <h5 class="panel-title"> 
	                        			<a href="{:url('Cate/index')}?CateId={$cateData.id}" class="user-list-item">{$cateData.name}</a>
			                        </h5>
			                    </div>
	                       		<div class="panel-body">
	                       			{foreach $cateData['son'] as $sonCateId=>$sonCateData}
	                                    <a href="">
		                       				<button class="btn btn-default waves-effect waves-light btn-sm m-b-5">{$sonCateData.name}</button>
		                                   	&nbsp;&nbsp;&nbsp;&nbsp;
	                                    </a>  
	                                {/foreach}
	                       		</div>
	                       	</div>
                       		{elseif condition="$CateId==$cId"}
                       		
                   			{foreach $cateData['son'] as $sonCateId=>$sonCateData}
                                <a href="">
                       				<button class="btn btn-default waves-effect waves-light btn-sm m-b-5">{$sonCateData.name}</button>
                                   	&nbsp;&nbsp;&nbsp;&nbsp;
                                </a>  
                            {/foreach}

                       		{/if}
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>


{include file="public/footer" /}