<div class="row">
	<style type="text/css">
		.file-img{float: left;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5;padding: 0px 20px;text-align: center;cursor:pointer;}
	</style>
	<div class="col-lg-12">
		<div class="form-group">
			<label> 用户: </label>
			<div id="users" class="files-list">
				{foreach $users as $user}
					{if condition="!in_array($user.id,$userids)"}
                        <span class="file-box file-img" onclick="adminAdd({$user.id})" id="user_{$user.id}">
                            <img class="img-circle thumb-sm" alt="{$user.nikename}" src="/{$user.headimg}" >
                            <p class="font-13 m-b-5 text-muted"><small>{$user.nikename}</small></p>
                        </span>
					{/if}
				{/foreach}
			</div>
		</div>
        <div class="clearfix"></div>

		<hr>

		<div class="form-group">
			<label> 管理员: </label>
			<div id="admins" class="files-list">
				{foreach $users as $user}
					{if condition="in_array($user.id,$userids)"}
                        <span class="file-box file-img" onclick="adminDel({$user.id})" id="admin_{$user.id}">
                            <img class="img-circle thumb-sm" alt="{$user.nikename}" src="/{$user.headimg}" >
                            <p class="font-13 m-b-5 text-muted"><small>{$user.nikename}</small></p>
                        	<input type="hidden" name="adminid[]" value="{$user.id}">
                        </span>
					{/if}
				{/foreach}
			</div>
		</div>
	</div>
	<input type="hidden" name="plateId" value="{$plateId}">
</div>

<script type="text/javascript">
	function adminAdd(userid){
		var headimg = $('#user_'+userid).find('img').attr('src');
		var nikename = $('#user_'+userid).find('img').attr('alt');

		var html  = '<span class="file-box file-img" onclick="adminDel('+userid+')" id="admin_'+userid+'">';
            html += '<img class="img-circle thumb-sm" alt="'+nikename+'" src="'+headimg+'" >';
            html += '<p class="font-13 m-b-5 text-muted"><small>'+nikename+'</small></p>';
            html += '<input type="hidden" name="adminid[]" value="'+userid+'">';
            html += '</span>';

        $('#user_'+userid).hide();
        $('#admins').append(html);
	}

	function adminDel(userid){
        $('#admin_'+userid).remove();
        $('#user_'+userid).show();
	}
</script>
