<div class="row">
	<div class="col-lg-8">
		<div class="form-group">
			<label> 用户: </label>
			<div id="users" class="files-list">
				{foreach $users as $user}
					{if condition="!in_array($user.id,$userids)"}
                        <span class="file-box">
                            <img class="img-circle thumb-sm" alt="{$user.nikename}" src="/{$user.headimg}" >
                            <p class="font-13 m-b-5 text-muted"><small>{$user.nikename}</small></p>
                        </span>
                        
					{/if}
				{/foreach}
			</div>
		</div>
		<br>
		<hr>
		<br>
		<div class="form-group">
			<label> 管理员: </label>
			<div id="admins" class="files-list">
				{foreach $users as $user}
					{if condition="in_array($user.id,$userids)"}
                        <span class="file-box">
                            <img class="img-circle thumb-sm" alt="{$user.nikename}" src="/{$user.headimg}" >
                            <p class="font-13 m-b-5 text-muted"><small>{$user.nikename}</small></p>
                        </span>
					{/if}
				{/foreach}
			</div>
		</div>
	</div>
</div>
