{include file="public/header" /}
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-20" onclick="applyPlate()"> 申请版块 </button>
        </div>
    </div>
    <div class="row">
        {foreach $myPlate as $plate}
        <div class="col-lg-4">
            <div class="card-box project-box">
                <div class="label 
                    {if condition='$plate.is_check==0'}
                        label-warning
                    {elseif condition='$plate.is_check==2'}
                        label-danger
                    {elseif condition='$plate.is_check==1'}
                        label-success
                    {/if}"
                >
                    {if condition='$plate.is_check==0'}
                        未审核
                    {elseif condition='$plate.is_check==2'}
                        审核失败
                    {elseif condition='$plate.is_check==1'}
                        审核通过
                    {/if}
                </div>
                <h4 class="m-t-0 m-b-5"><a href="" class="text-inverse">{$plate['name']}</a></h4>
                {if condition='$plate.is_check==2'}
                    <p class="text-danger text-uppercase m-b-20 font-13">{$plate['reason']}</p>
                {/if}
                <p class="text-muted font-13">{$plate['info']}</p>
                <ul class="list-inline">
                    <li>
                        <h3 class="m-b-0">0</h3>
                        <p class="text-muted">关注</p>
                    </li>
                    <li>
                        <h3 class="m-b-0">0</h3>
                        <p class="text-muted">帖子</p>
                    </li>
                </ul>

                <div class="project-members m-b-20">
                    <span class="m-r-5 font-600">管理员 :</span>
                    
                </div>

                <div class="project-members m-b-20 text-right">
                    <button type="button" class="btn btn-warning waves-effect waves-light" onclick="plateEdit({$plate.id})">编辑</button>
                    <button type="button" class="btn waves-effect waves-light
                        {if condition='$plate.is_del==0'}
                            btn-danger
                        {else}
                            btn-success
                        {/if}
                    "  onclick="plateDel({$plate.id})">
                        {if condition='$plate.is_del==0'}
                            删除
                        {else}
                            恢复
                        {/if}
                    </button>
                </div>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-offset-3 text-center">
            {$page}
        </div>
    </div>


</div>
<script type="text/javascript">
    function applyPlate(){
        loading('show');
        window.location.href = "{:url('forum/applyModerator')}";
    }
    function plateEdit(id){
        loading('show');
        window.location.href = "{:url('forum/myPlateEdit')}?id="+id;
    }
    function plateDel(id){
        // loading('show');
        // window.location.href = "{:url('forum/plateDel')}?id="+id;
    }
</script>
{include file="public/footer" /}