{include file="public/header" /}

<link href="/resource/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />

<!-- Treeview css -->
<link href="/resource/plugins/jstree/style.css" rel="stylesheet" type="text/css" />

<style type="text/css">
    .header-title{font-size:30px;text-align:center;}
    .backWhite{background:white;}
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="login-panel panel text-center panel-default">
            <div class="panel-heading">
                <h4 class="header-title"> 板块编辑 </h4>
            </div>
        </div>

        <div class="card-box text-center">
            <div class="form-horizontal" >
                <form action="{:url('forum/saveEditPlate')}" method="post" enctype="multipart/form-data" data-parsley-validate novalidate id="applyPlate">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"> 
                            <span style="color:red;">*</span>
                            版块分类：
                        </label>
                        <div class="col-sm-6 text-left">
                            {$cateArr[$plate.cateid]['name']}
                            <input type="hidden" name="plateId" value="{$plate.id}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label"> 
                            <span style="color:red;">*</span>
                            版块名：
                        </label>
                        <div class="col-sm-6 text-left">
                            {$plate.name}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">简介：</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" name="info" rows="3" cols="" style="margin: 0px -5px 0px 0px;resize:none">{$plate.info}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label"> 
                            <span style="color:red;">*</span>
                            头像图：
                        </label>
                        <div class="col-sm-6">
                            <input type="file" class="dropify" name="headimg" data-default-file="/{$plate.headimg}" value="/{$plate.headimg}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-3 control-label">背景图：</label>
                        <div class="col-sm-6">
                            <input type="file" class="dropify" name="backimg" data-default-file="/{$plate.backimg}" value="/{$plate.backimg}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success waves-effect waves-light" onclick="doEdit()">
                            提交
                        </button>
                        <button type="button" class="btn btn-info waves-effect waves-light" onclick="myPlate()">
                            我的版块
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div><!-- end col -->

</div>

<script src="/resource/plugins/fileuploads/js/dropify.min.js"></script>
<script type="text/javascript" src="/resource/admin/js/admin.js"></script>

<!-- Tree view js -->
<script src="/resource/plugins/jstree/jstree.min.js"></script>
<script src="/resource/pages/jquery.tree.js"></script>

<script type="text/javascript">
    $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        },
        error: {                                 
            'fileSize': 'The file size is too big (1M max).'
        }
    });

    function myPlate(){
        loading('show');
        window.location.href = "{:url('forum/myPlateList')}";
    }

    function doEdit(){
    	loading('show');
        var headimg = $('input[name="headimg"]').val();
        console.log(headimg);
        if(headimg==''){
            loading('hide');
            alertFun('申请版主','请上传 版块头像图！',false);
            return false;
        }
    	$('#applyPlate').submit();
    }

    // 父分类id 数组 
    var parentCate = {$parentCate|json_encode};
    function selectCate(cid,str){
        loading('show');
        if(str=='parent'){
            loading('hide');
            alertFun('选择分类','当前分类为父分类, 不能选择, 请选择其子分类！',false);
            return false;
        }

        loading('hide');
        $('#cateId').val(cid);
    }
</script>
{include file="public/footer" /}