{include file="public/header" /}
 
    <link href="/resource/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .header-title{font-size:30px;text-align:center;}
    </style>
    <div class="row">
        <div class="col-lg-6 col-md-offset-3">
            <div class="login-panel panel text-center panel-default">
                <div class="panel-heading">
                    <h4 class="header-title"> 申请友情链接 </h4>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" role="form" data-parsley-validate novalidate action="{:url('index/saveApplyFriend')}"  method="post" id="FriendEdit" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-4 control-label"> 名称 </label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" placeholder="名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label"> 链接 </label>
                            <div class="col-sm-7">
                                <input  type="text" name="link" placeholder="链接" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass2" class="col-sm-4 control-label"> 描述 </label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="info" rows="3" cols="" style="margin: 0px -5px 0px 0px;resize:none"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass2" class="col-sm-4 control-label"> 链接图片 </label>
                            <div class="col-sm-7">
                                <input type="file" class="dropify" name="linkimg" data-default-file=""  />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success waves-effect waves-light" onclick="doApply()">
                                    绑定
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- end col -->

    </div>

    <script src="/resource/plugins/fileuploads/js/dropify.min.js"></script>
    <script type="text/javascript" src="/resource/admin/js/admin.js"></script>
    <script type="text/javascript">
        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': 'Ooops, something wrong appended.'
            },
            error: {
                'fileSize': 'The file size is too big (1M max).'
            }
        });

        // 修改信息
        function doApply(res){
            loading('show');
            var id = $('input[name="id"]').val();
            var name = $('#name').val();
            var link = $('#link').val();

            if(name==''){
                loading('hide');
                $('#name').parent().addClass("has-error");  
                $('#name').next('p').html('名称不能为空');
                return false; 
            }

            if(link==''){
                loading('hide');
                $('#link').parent().addClass("has-error");  
                $('#link').next('p').html('链接不能为空');
                return false; 
            }

            $('#FriendEdit').submit();
        }

    </script>


{include file="public/footer" /}