{include file="public/header" /}

        <!-- 友情链接 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                            友情链接 
                            &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-success waves-effect waves-light btn-sm m-b-5" onclick="ApplyFriend()">申请</button>
                        </h3>
                    </div>
                    <div class="panel-body">  
                        {foreach $friends as $fval}
                        <div class="col-md-3 widget-user" style="min-height:72px;">
                            <a href="{$fval[link]}" title="{$fval[info]}" target="__black">
                                <img src="/{$fval[linkimg]}" class="img-responsive img-circle" alt="{$fval[name]}" style="width:72px;height:72px;">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">{$fval[name]}</h4>
                                    <p class="text-muted m-b-5 font-13" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;">{$fval[info]}</p>
                                    <div class="text-success" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;"><b>{$users[$fval['adminid']]['nikename']}</b></div>
                                </div>
                            </a>
                        </div>
                        {/foreach}
                    </div>
                    <div class="panel-body text-right"> 
                        {$page}
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript">
        function ApplyFriend(){
            loading('show');
            window.location.href = "{:url('index/ApplyFriend')}";
        }
    </script>
{include file="public/footer" /}