{include file="public/header" /}

        <link rel="stylesheet" type="text/css" href="/resource/lunbo/style.css">

        <script type="text/javascript" src="/resource/lunbo/prototype.js"></script>
        <script type="text/javascript" src="/resource/lunbo/ImageSlide.js"></script>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box">
                    <h4 class="header-title m-t-0"><i cclass="ti-flickr m-r-5"></i> 版块分类 </h4>
                    <ul class="list-group m-b-0 user-list">
                        {foreach $topHeaderCates as $cateId=>$cateData}
                        <li class="list-group-item">
                            <a href="#" class="user-list-item">
                                <div class="user-desc" style="margin-left:0px;">
                                    <span style="height: 30px;line-height: 30px;">{$cateData.name}</span>
                                    <span class="desc">
                                        {foreach $cateData['son'] as $sonCateId=>$sonCateData}
                                            {$sonCateData.name} 
                                            &nbsp;&nbsp;&nbsp;&nbsp; 
                                        {/foreach}
                                    </span>
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <div id="focusImage" class="slide">
                        <ul class="contents">
                            <li class="">
                                <div class="image"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#"><img src="./1.jpg" width="400" height="282"></a></div>
                                <div class="text">
                                    <span class="title"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#">小水管哭了！《战争机器4》总容量已超100GB</a></span>
                                    <p>《战争机器4》在刚推出之时，在Win10平台上的容量就已经达到了惊人的73GB，这次让《战争机器4》总容量超过100GB的更新文件，是来自情人节期间的新内容。</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="image"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#"><img src="./2.jpg" width="400" height="282"></a></div>
                                <div class="text">
                                    <span class="title"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#">《无冬OL》5月19日停运 主机版不受影响</a></span>
                                    <p>近日，完美宣布《无冬OL》将于2017年5月19日正式停运，在关闭服务器后，官方会将玩家的充值返还到完美钱包或银行账户中。同时，官方强调称本次的停服针对中国区的服务器，主机版不受影响。</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="image"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#"><img src="./3.jpg" width="400" height="282"></a></div>
                                <div class="text">
                                    <span class="title"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#">《丧尸围城4》评价不佳？卡普空：上手度太低</a></span>
                                    <p>与迄今为止的系列相比，《丧尸围城4》让更多的玩家能够轻松上手，但新游戏收到的意见更加宽泛。在未来Capcom打算通过发布额外的数字下载内容来持续增加游戏销量。</p>
                                </div>
                            </li>
                            <li class="current">
                                <div class="image"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#"><img src="./4.jpg" width="400" height="282"></a></div>
                                <div class="text">
                                    <span class="title"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#">国外暴雪玩家3D打印《星际争霸2》虫族单位</a></span>
                                    <p>近日，暴雪游戏死忠粉3D打印设计师Francesco Orrù通过建模软件ZBrush与3D打印，完成自己的《星际争霸2》3D打印作品新作，让我们来一同鉴赏。</p>
                                </div>
                            </li>
                            <li class="">
                                <div class="image"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#"><img src="./5.jpg" width="400" height="282"></a> </div>
                                <div class="text">
                                    <span class="title"><a href="http://www.jq22.com/demo/jQuery360newsjdt201702170951/#">索尼：希望推出《地平线：黎明时刻》续作</a></span>
                                    <p>距离《地平线：黎明时刻》的发售还有不到2周时间，但索尼似乎正在找寻为其推出续作的可能，并希望其能成为一款旗下代表性系列作品，对于这部作品报以高期待。</p>
                                </div>
                            </li>
                        </ul>
                        
                        <div class="triggers">
                            <a href="javascript:;" class="cur" style="display: none;"><img src="./1.jpg" width="58" height="38"></a>
                            <a href="javascript:;" class="" style="display: none;"><img src="./2.jpg" width="58" height="38"></a>
                            <a href="javascript:;" class="" style="display: none;"><img src="./3.jpg" width="58" height="38"></a>
                            <a href="javascript:;" class="current" style="display: none;"><img src="./4.jpg" width="58" height="38"></a>
                            <a href="javascript:;" class="" style="display: none;"><img src="./5.jpg" width="58" height="38"></a>
                        </div>

                        <div class="icon-dot">
                            <a href="javascript:;" class="cur"></a>
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class=""></a>
                            <a href="javascript:;" class="current"></a>
                            <a href="javascript:;" class=""></a>
                        </div>
                        
                        <span class="link-watch pre down" ></span>
                        <span class="link-watch next down" ></span>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            {foreach $plateUser as $plateU}
            <div class="col-lg-3 col-md-6">
                <div class="card-box widget-user">
                    <div>
                        <img src="/{$plateU.headimg}" class="img-responsive img-circle" style="width:72px;height:72px;" alt="头像">
                        <div class="wid-u-info">
                            <h4 class="m-t-0 m-b-5"><a href="{:url('Cart/index')}?plateId={$plateU.id}">板块名：{$plateU.name}</a></h4>
                            <p class="text-muted m-b-5 font-13"><a href="{:url('ucenter/index')}?uid={$plateU.userid}">{$users[$plateU.userid]['nikename']}</a></p>
                            <small class="text-info"><b>版主</b></small>
                        </div>
                    </div>
                </div>
            </div>
            {/foreach}
        </div>
        <!-- end row -->
        <style type="text/css">
            .table>tbody>tr>td, .table>tbody>tr>th{border-bottom:1px solid #ddd;}
            .author{width:120px;}
            .commit{width:140px;}
            .handle{width:230px;}
            .operation{width:200px;}
            .name{height:60px;line-height:60px;}
        </style>
        <div class="row">

            <div class="col-md-12">
                <div class="">  
                    {foreach $plates as $plateId=>$plate}
                    <div class="panel panel-custom panel-border card-draggable ui-sortable-handle">
                        <div class="panel-heading" >
                            <table class="table table table-hover m-0">
                                <thead>
                                    <tr>
                                        <th class="name"> 
                                            板块 ：<a href="{:url('Cart/index')}?plateId={$plate.id}">{$plate.name}</a>  
                                            &nbsp;&nbsp;&nbsp; 
                                            分类：<a href="{:url('Forum/catePlate')}?cateId={$plate.cateid}">{$cates[$plate.cateid]['name']}</a>
                                        </th>
                                        <th class="operation"></th>
                                        <th class="author">作者</th>
                                        <th class="commit">回复/查看</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div class="panel-body icon-list-demo">
                            <!-- 置顶 -->
                            <div class="clearfix">
                                <table class="table table table-hover m-0">
                                    {foreach $plate.carts as $cartId=>$cart}
                                    <tr>
                                        <td class="name" style="height:30px;line-height:41px;">
                                            {if condition="time()-$cart.ctime<=3600"}
                                            <img src="/resource/images/cart/folder_new.gif" style="margin-right:5px;">
                                            {else}
                                            <img src="/resource/images/cart/folder_common.gif" style="margin-right:5px;">
                                            {/if}
                                            <a href="{:url('Cart/seeCart',['cartId'=>$cart.id,'plateId'=>$plateId])}">
                                                {$cart.title}
                                            </a>
                                        </td>
                                        <td class="operation" style="height:30px;line-height:41px;">
                                            {if condition="$cart.is_top==1"}
                                            <img src="/resource/images/cart/agree.gif" style="width:22px;margin-right:5px;" onclick="" >
                                            {/if}
                                            {if condition="time()-$cart.ctime<=3600"}
                                            <img src="/resource/images/cart/new.png" style="width:32px;margin-right:5px;">
                                            {/if}
                                            {if condition="$cart.is_hot==1"}
                                            <img src="/resource/images/cart/hot_1.gif" style="width:27px;margin-right:5px;">
                                            {/if}
                                            {if condition="$cart.is_elite==1"}
                                            <img src="/resource/images/cart/digest_3.gif" style="width:27px;margin-right:5px;">
                                            {/if}
                                        </td>
                                        <td class="author"> 
                                            <a href="{:url('ucenter/index')}?uid={$cart.userid}"> {$users[$cart.userid]['name']}</a>
                                            <br>
                                            {:tranTime($cart.ctime)}
                                        </td>
                                        <td class="commit">
                                            <a href="{:url('Cart/seeCart',['cartId'=>$cart.id,'plateId'=>$plateId])}"> {$cart.reply} </a> 
                                            <br>
                                            {$cart.see}
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>

                    </div>
                    {/foreach}

                </div>
            </div>

        </div>

        <!-- 友情链接 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                            友情链接 
                        </h3>
                    </div>
                    <div class="panel-body">  
                        {foreach $friend as $fval}
                        <div class="col-md-3 widget-user" style="min-height:72px;">
                            <a href="{$fval[link]}" title="{$fval[info]}" target="__black">
                                <img src="/{$fval[linkimg]}" class="img-responsive img-circle" alt="{$fval[name]}" style="width:72px;height:72px;">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">{$fval[name]}</h4>
                                    <p class="text-muted m-b-5 font-13" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;">{$fval[info]}</p>
                                    <div class="text-success" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;"><b>{$users[$fval['adminid']]['nikename']}</b></div>
                                </div>
                            </a>
                        </div>
                        {/foreach}

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        new ImageSlide({
            project:"#focusImage",
            content:".contents li",
            tigger:".triggers a",
            dot:".icon-dot a",
            watch:".link-watch",
            auto:!0,
            hide:!0
        })
        </script>


{include file="public/footer" /}