{include file="public/header" /}

        <link rel="stylesheet" type="text/css" href="/resource/lunbo/style.css">

        <script type="text/javascript" src="/resource/lunbo/prototype.js"></script>
        <script type="text/javascript" src="/resource/lunbo/ImageSlide.js"></script>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card-box" style="height:289px;">
                    <h4 class="header-title m-t-0"><i cclass="ti-flickr m-r-5"></i> <a href="{:url('Cate/index')}"> 版块分类 </a> </h4>
                    <ul class="list-group m-b-0 user-list">
                        {foreach $topHeaderCates as $cateId=>$cateData}
                        <li class="list-group-item">
                            <a href="{:url('Cate/index')}?CateId={$cateData.id}" class="user-list-item">
                                <div class="user-desc" style="margin-left:0px;">
                                    <span style="height: 30px;line-height: 30px;">{$cateData.name}</span>
                                    <span class="desc">
                                        {foreach $cateData['son'] as $sonCateId=>$sonCateData}
                                            {$sonCateData.name} 
                                            &nbsp;&nbsp;&nbsp;&nbsp; 
                                        {/foreach}
                                    </span>
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-8">
                        <div id="focusImage" class="slide">
                            <ul class="contents">
                                {foreach $plateHome as $key=>$plateH}
                                <li {if condition='$key==0'}class="current"{/if} style="height:289px;">
                                    <div class="image" style="width:60%;"><img src="/{$plateH.headimg}"  height="289" style="width:100%;height:289px;"></div>
                                    <div class="" style="width: 35%;position: absolute; right: 32px;padding: 25px 10px">
                                        <span class="title">板块名：<a href="{:url('Cart/index')}?plateId={$plateH.id}"> {$plateH.name} </a></span>
                                        <p> {$plateH.info} </p>
                                    </div>
                                </li>
                                {/foreach}
                            </ul>
                            
                            <div class="triggers">
                                {foreach $plateHome as $key=>$plateH}
                                <a href="javascript:;" {if condition='$key==0'}class="cur current"{/if} style="display: none;"><img src="/{$plateH.headimg}" width="58" height="38"></a>
                                {/foreach}
                            </div>
                            <div class="icon-dot">
                                {foreach $plateHome as $key=>$plateH}
                                <a href="javascript:;" {if condition='$key==0'}class="cur current"{/if}></a>
                                {/foreach}
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="card-box" style="height:289px;">
                            <h4 class="header-title m-t-0"><a href="{:url('Notice/index')}"> <i cclass="ti-flickr m-r-5"></i> 公告板 </a></h4>
                            <ul class="list-group m-b-0 user-list">
                                {foreach $notices as $notice}
                                <li class="list-group-item">
                                    <a href="{:url('Notice/NoticeDetail')}?noticeId={$notice.id}" class="user-list-item">
                                        {if condition="!empty($notice.headimg)"}
                                        <div class="avatar">
                                            <img src="/{$notice.headimg}"  style="width:35px;height:35px;" alt="">
                                        </div>
                                        {/if}
                                        <div class="user-desc">
                                            <div class="" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;height:35px;line-height:35px;">{$notice.title}</div>
                                        </div>
                                    </a>
                                </li>
                                {/foreach}
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- end row -->
        <style type="text/css">
            .table>tbody>tr>td, .table>tbody>tr>th{border-bottom:1px solid #ddd;}
            .author{width:120px;}
            .commit{width:140px;}
            .handle{width:230px;}
            .operation{width:200px;}
            .name{height:60px;line-height:60px;}
        </style>
        <div class="row">

            <div class="col-md-12">
                <div class="">  
                    {foreach $plates as $plateId=>$plate}
                    <div class="panel panel-custom panel-border card-draggable ui-sortable-handle">
                        <div class="panel-heading" >
                            <table class="table table table-hover m-0">
                                <thead>
                                    <tr>
                                        <th class="name"> 
                                            板块 ：<a href="{:url('Cart/index')}?plateId={$plate.id}">{$plate.name}</a>  
                                            &nbsp;&nbsp;&nbsp; 
                                            分类：<a href="{:url('Forum/catePlate')}?cateId={$plate.cateid}">{$cates[$plate.cateid]['name']}</a>
                                        </th>
                                        <th class="operation"></th>
                                        <th class="author">作者</th>
                                        <th class="commit">回复/查看</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        
                        <div class="panel-body icon-list-demo">
                            <!-- 置顶 -->
                            <div class="clearfix">
                                <table class="table table table-hover m-0">
                                    {foreach $plate.carts as $cartId=>$cart}
                                    <tr>
                                        <td class="name" style="height:30px;line-height:41px;">
                                            {if condition="time()-$cart.ctime<=3600"}
                                            <img src="/resource/images/cart/folder_new.gif" style="margin-right:5px;">
                                            {else}
                                            <img src="/resource/images/cart/folder_common.gif" style="margin-right:5px;">
                                            {/if}
                                            <a href="{:url('Cart/seeCart',['cartId'=>$cart.id,'plateId'=>$plateId])}">
                                                {$cart.title}
                                            </a>
                                        </td>
                                        <td class="operation" style="height:30px;line-height:41px;">
                                            {if condition="$cart.is_top==1"}
                                            <img src="/resource/images/cart/agree.gif" style="width:22px;margin-right:5px;" onclick="" >
                                            {/if}
                                            {if condition="time()-$cart.ctime<=3600"}
                                            <img src="/resource/images/cart/new.png" style="width:32px;margin-right:5px;">
                                            {/if}
                                            {if condition="$cart.is_hot==1"}
                                            <img src="/resource/images/cart/hot_1.gif" style="width:27px;margin-right:5px;">
                                            {/if}
                                            {if condition="$cart.is_elite==1"}
                                            <img src="/resource/images/cart/digest_3.gif" style="width:27px;margin-right:5px;">
                                            {/if}
                                        </td>
                                        <td class="author"> 
                                            <a href="{:url('ucenter/index')}?uid={$cart.userid}"> {$users[$cart.userid]['name']}</a>
                                            <br>
                                            {:tranTime($cart.ctime)}
                                        </td>
                                        <td class="commit">
                                            <a href="{:url('Cart/seeCart',['cartId'=>$cart.id,'plateId'=>$plateId])}"> {$cart.reply} </a> 
                                            <br>
                                            {$cart.see}
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                            </div>
                        </div>

                    </div>
                    {/foreach}

                </div>
            </div>

        </div>

        <!-- 友情链接 -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-border panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> 
                            友情链接 
                        </h3>
                    </div>
                    <div class="panel-body">  
                        {foreach $friend as $fval}
                        <div class="col-md-3 widget-user" style="min-height:72px;">
                            <a href="{$fval[link]}" title="{$fval[info]}" target="__black">
                                <img src="/{$fval[linkimg]}" class="img-responsive img-circle" alt="{$fval[name]}" style="width:72px;height:72px;">
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">{$fval[name]}</h4>
                                    <p class="text-muted m-b-5 font-13" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;">{$fval[info]}</p>
                                    <div class="text-success" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;"><b>{$users[$fval['adminid']]['nikename']}</b></div>
                                </div>
                            </a>
                        </div>
                        {/foreach}

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
        new ImageSlide({
            project:"#focusImage",
            content:".contents li",
            tigger:".triggers a",
            dot:".icon-dot a",
            watch:".link-watch",
            auto:!0,
            hide:!0
        })
        </script>


{include file="public/footer" /}