{include file="public/header" /}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">

            <h4 class="header-title m-t-0 m-b-30">Tabs</h4>

            <div class="row">
                <div class="col-lg-12">

                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="#home1" role="tab" data-toggle="tab">密保问题?</a>
                        </li>
                        <!-- <li role="presentation">
                            <a href="#profile1" role="tab" data-toggle="tab">Profile</a>
                        </li> -->
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home1">
                           
                        </div>
                        <!-- <div role="tabpanel" class="tab-pane fade" id="profile1"><p>Food truck fixie locavore,
                            accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level
                            wes anderson artisan four loko farm-to-table craft beer twee. Qui
                            photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
                            shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack
                            odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY
                            ethical culpa terry richardson biodiesel. Art party scenester
                            stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                            echo park.</p>
                        </div> -->
                    </div>
                </div><!-- end col -->

            </div>
        </div>
    </div>
 </div>

{include file="public/footer" /}