{include file="public/header" /}
    {if condition="empty($cart)"}
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h3 class="font-600">帖子找不到了</h3>
                                <p class="text-muted"> 帖子找不到了, 那可能我们正在对这个帖子做调整，耐心等待！ </p>

                                <button type="button" class="btn btn-success waves-effect waves-light m-t-10" onclick="fanhui({$plateId})"> 返回 </button>

                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div>
        </div>
    {elseif condition="$cart.is_del==1"} 
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h3 class="font-600">该帖子已删除！</h3>
                                <p class="text-muted"> 帖子 可能 违规，查看其他帖子吧！ </p>

                                <button type="button" class="btn btn-success waves-effect waves-light m-t-10" onclick="fanhui({$plateId})"> 返回 </button>

                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div>
        </div>
    {else}
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-20" onclick="ReplyCart()"> 回帖 </button>
                <button type="button" class="btn btn-default btn-rounded w-md waves-effect waves-light m-b-20" onclick="fanhui({$plateId})"> 帖子列表 </button>
            </div>
        </div>
        <style type="text/css">
            .users{width:300px;text-align:center;}
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <th class="users">
                                    查看:{$cart.see} 
                                    &nbsp; <span style="border-left:solid 1px gray;width:2px;height:20px;"></span> &nbsp;
                                    回复:{$cart.see} 
                                </th>
                                <th class="content">

                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    {/if}
</div>
<script type="text/javascript" src="/resource/admin/js/admin.js"></script>
<script type="text/javascript">
    function ReplyCart(plateId){
       
    }
    function fanhui(plateId){
        loading('show');
        window.location.href = "{:url('cart/index')}?plateId="+plateId;
    }
</script>
{include file="public/footer" /}