{include file="public/header" /}
    {if condition="empty($cart)"}
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h3 class="font-600">帖子找不到了</h3>
                                <p class="text-muted"> 帖子找不到了, 那可能我们正在对这个帖子做调整，耐心等待！ </p>

                                <button type="button" class="btn btn-success waves-effect waves-light m-t-10" onclick="fanhui({$plateId})"> 返回 </button>

                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div>
        </div>
    {elseif condition="$cart.is_del==1"} 
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <h3 class="font-600">该帖子已删除！</h3>
                                <p class="text-muted"> 帖子 可能 违规，查看其他帖子吧！ </p>

                                <button type="button" class="btn btn-success waves-effect waves-light m-t-10" onclick="fanhui({$plateId})"> 返回 </button>

                            </div>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            </div>
        </div>
    {else}
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-20" onclick="ReplyCart()"> 回帖 </button>
                <button type="button" class="btn btn-default btn-rounded w-md waves-effect waves-light m-b-20" onclick="fanhui({$plateId})" style="border-color:1px solid black;"> 帖子列表 </button>
            </div>
        </div>
        <style type="text/css">
            .see{width:240px;text-align:center;color:gray;opacity:0.8;margin:0 auto;}
            .title{text-align:left;font-size:19px;}
            .users{width:240px;text-align:center;}
            .content{}
            .user-mar{border-bottom:4px solid #71b6f9;}
            .user-pad{border-bottom:2px dashed rgba(144,144,144,0.6);}
            .headimg{width:90%;height:160px;margin:0 auto;line-height:160px;text-align:center;}
            .userinfo{width:90%;height:100px;margin:0 auto;line-height:100px;text-align:center;}
            .num{width:90%;height:50px;margin:0 auto;line-height:50px;text-align:center;}
            .info{width:90%;height:50px;margin:0 auto;line-height:50px;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:0px 30px;}
            .SendMessage{width:90%;height:50px;margin:0 auto;line-height:50px;text-align:center;}
        </style>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <table class="table table-bordered m-0">
                        <tr class="user-mar">
                            <th class="see">
                                查看:{$cart.see} 
                                &nbsp; <span style="border-left:solid 1px gray;width:2px;height:20px;"></span> &nbsp;
                                回复:{$cart.see} 
                            </th>
                            <th class="title" style="padding-left:30px;">
                                {$cart.title}
                            </th>
                        </tr>

                        <tr class="user-pad">
                            <td class="users"> {$users[$cart.userid]['nikename']} </td>
                            <td class="content" style="padding-left:30px;">
                                发表于 {$cart.ctime|date="Y-m-d H:i:s",###}
                                <span style="float:right;padding-right:30px;color:red;">楼主</span>
                            </td>
                        </tr>
                        <tr class="user-mar">
                            <td class="users">
                                <div class="headimg">
                                    {if condition="$user->headimg"}
                                    <img src="/{$user->headimg}" class="thumb-xl img-thumbnail m-b-10" alt="头像">
                                    {else}
                                    <img src="/resource/images/user.png" class=" thumb-xl img-thumbnail m-b-10" alt="头像">
                                    {/if}
                                </div>
                                <div class="userinfo">
                                    <div class="num">
                                        <strong> 关注:</strong> <a href="">33</a>
                                        <span class="m-r-15"></span>
                                        <strong> 帖子:</strong> <a href="">33</a>
                                    </div>
                                    <div class="info">
                                        {$user->info}
                                    </div> 
                                </div>
                                <div class="SendMessage">
                                    <button class="btn btn-custom btn-trans waves-effect waves-custom w-md m-b-5">
                                        <i class="ti-comment"></i> 
                                        &nbsp; 发消息
                                    </button>
                                </div>
                            </td>
                            <td class="content" style="padding-left:30px;">
                                {$cart.content}
                            </td>
                        </tr>


                    </table>
                </div>
            </div>
        </div>
    {/if}
</div>
<script type="text/javascript" src="/resource/admin/js/admin.js"></script>
<script type="text/javascript">
    function ReplyCart(plateId){
       
    }
    function fanhui(plateId){
        loading('show');
        window.location.href = "{:url('cart/index')}?plateId="+plateId;
    }
</script>
{include file="public/footer" /}