{include file="public/header" /}
   
    <div class="row">
        <div class="col-md-12">

            <div class="bg-picture card-box">
                <div class="profile-info-name">
                    <img src="/{$notice.headimg}" class="img-thumbnail" alt="profile-image">

                    <div class="profile-info-detail">
                        <h3 class="m-t-0 m-b-0">{$notice.title}</h3>
                        <p class="text-muted m-b-20"><i>{$users[$notice.userid]['nikename']}</i></p>
                        <p>
                            {$notice.content}
                        </p>
                    </div>
                    <div id="diazan" style="text-align: center; width: 100px;margin:50px auto 0px;cursor:pointer;" onclick="Fabulous({$notice.id})">
                        <img src="/resource/images/zan.png" style="width:100px;">
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card-box">
                <table class="table table-bordered m-0" id="replies">
                    <tr class="user-mar">
                        <th class="title" style="padding-left:30px;vertical-align:inherit;">
                            {if condition="$userid"}
                            <form action="{:url('Notice/ReplyNotice')}" method="post" enctype="multipart/form-data" data-parsley-validate novalidate id="ReplyNotice">
                                <div style="width:100%;">
                                    <textarea name="content" id="content" rows="6" style="width: 100%;border-radius: 10px;resize: none;"></textarea>
                                </div>
                                <input type="hidden" name="noticeId" value="{$notice.id}">
                                <button type="button" class="btn btn-info w-md waves-effect waves-light m-b-10" onclick="doReply()"> 评论 </button>
                            </form>
                            {else}
                                <div style="min-height:200px;text-align:center;width:100%;line-height:200px;">
                                    您需要登录后才可以评论  <a href="{:url('login/index')}"><b>登录</b></a> | <a href="{:url('login/index')}"><b>注册</b></a>
                                </div>
                            {/if}
                        </th>
                    </tr>
                </table>
            </div>
        </div>


        {if condition="!empty($notice_reply)"}
        <div class="col-sm-12">
            <div class="card-box">

                {foreach $notice_reply as $reply}
                <div class="comment">
                    <img src="/{$users[$reply.userid]['headimg']}" alt="" class="comment-avatar">
                    <div class="comment-body">
                        <div class="comment-text">
                            <div class="comment-header">
                                <a href="#" title="">{$users[$reply.userid]['nikename']}</a><span>{:tranTime($reply.ctime)}</span>
                            </div>
                            {$reply.content}
                        </div>
                        <!-- <div class="comment-footer">
                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                            <a href="#">Reply</a>
                        </div> -->
                    </div>
                </div>
                {/foreach}

            </div>
        </div>
        {/if}

    </div>


</div>
<script type="text/javascript">

function doReply(){
    var content = $('#content').val();
    console.log(content);
    if(content==''){
        toastr.options = {
          "positionClass": "toast-top-center",
        }
        var $toast = toastr['error']('评论内容不能为空！');
        return false;
    }
    $('#ReplyNotice').submit();
}

function Fabulous(noticeId){
    loading('show');
    $.post("{:url('Notice/FabulousNotice')}",{'noticeId':noticeId},function(result){
        toastr.options = {
          "positionClass": "toast-top-center",
        }
        var $toast = toastr['success'](result.msg);
        loading('hide');
        return false;
    },'json');
}
</script>
{include file="public/footer" /}