{include file="public/header" /}
   
   
    <div class="row">

        <div class="col-md-12">
            <div class="">  
                <div class="panel panel-custom panel-border card-draggable ui-sortable-handle">
                    <div class="panel-heading" >
                        <table class="table table table-hover m-0">
                            <thead>
                                <tr style="background:url('/resource/images/notice.png');background-size:100% 100%;">
                                    <th colspan="5" class="text-left" style="height:300px;"> 
                                        <!-- <img src="/resource/images/timg.gif" style="width:190px;"> -->
                                    </th>
                                </tr>
                                <tr>
                                    <th class="name">
                                        <button 
                                        class="btn {if condition='$type=="all"'}btn-default{else}btn-info{/if} waves-effect waves-light btn-sm m-b-5" 
                                        id="allCart" 
                                        onclick="seeCart({$plateId},'all')"> 全部 </button>
                                        <button 
                                        class="btn {if condition='$type=="new"'}btn-default{else}btn-success{/if} waves-effect waves-light btn-sm m-b-5" 
                                        id="newCart" 
                                        onclick="seeCart({$plateId},'new')"> 最新 </button>
                                        <button 
                                        class="btn {if condition='$type=="hot"'}btn-default{else}btn-custom{/if} waves-effect waves-light btn-sm m-b-5" 
                                        id="hotCart" 
                                        onclick="seeCart({$plateId},'hot')"> 热门 </button>
                                        <button 
                                        class="btn {if condition='$type=="elite"'}btn-default{else}btn-primary{/if} waves-effect waves-light btn-sm m-b-5" 
                                        id="eliteCart" 
                                        onclick="seeCart({$plateId},'elite')"> 精华 </button>
                                    </th>
                                    <th class="handle"></th>
                                    <th class="operation"></th>
                                    <th class="author">作者</th>
                                    <th class="commit">回复/查看</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                    <div class="panel-body icon-list-demo">
                        <div class="clearfix">
                            <table class="table table table-hover m-0">
                               
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-12 text-right">
                            {$page}
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function sendCart(plateId){
        loading('show');
        window.location.href = "{:url('cart/sendCart')}?plateId="+plateId;
    }

    function seeCart(plateId,type){
        loading('show');
        $('#'+type+'Cart').addClass('btn-default');
        window.location.href = "{:url('cart/index')}?plateId="+plateId+"&type="+type;
    }
    function removeCart(str,cartId,plateId){
        loading('show');
        $.post("{:url('cart/removeCart')}",{'cartId':cartId,'str':str},function(result){
            if(result.flog==0){
                loading('hide');
                alertFun('帖子',result.msg,false);
                return false;
            }else{
                window.location.href =  window.location.href;
            }
        },'json');
    }

    function addCart(str,cartId,plateId){
        loading('show');
        $.post("{:url('cart/addCart')}",{'cartId':cartId,'str':str},function(result){
            if(result.flog==0){
                loading('hide');
                alertFun('帖子',result.msg,false);
                return false;
            }else{
                window.location.href =  window.location.href;
            }
        },'json');
    }
</script>
{include file="public/footer" /}