{include file="public/header" /}
   
   
    <div class="row">
        <div class="col-md-12">

            <div class="bg-picture card-box">
                <div class="profile-info-name">
                    <img src="/{$notice.headimg}" class="img-thumbnail" alt="profile-image">

                    <div class="profile-info-detail">
                        <h3 class="m-t-0 m-b-0">{$notice.title}</h3>
                        <p class="text-muted m-b-20"><i>{$users[$notice.userid]['nikename']}</i></p>
                        <p>
                            {$notice.content}
                        </p>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <div class="card-box">
                <table class="table table-bordered m-0" id="replies">
                    <tr class="user-mar">
                        <th class="see" style="vertical-align:inherit;">
                            
                        </th>
                        <th class="title" style="padding-left:30px;vertical-align:inherit;">
                            {if condition="$userid"}
                            <form action="{:url('Notice/ReplyNotice')}" method="post" enctype="multipart/form-data" data-parsley-validate novalidate id="ReplyNotice">
                                <div style="width:100%;">
                                    <textarea name="content" id="content" rows="6" style="width: 100%;border-radius: 10px;resize: none;"></textarea>
                                </div>
                                <input type="hidden" name="noticeId" value="{$notice.id}">
                                <button type="button" class="btn btn-info w-md waves-effect waves-light m-b-10" onclick="doReply()"> 回复 </button>
                            </form>
                            {else}
                                <div style="min-height:200px;text-align:center;width:100%;line-height:200px;">
                                    您需要登录后才可以回复  <a href="">登录</a> | <b>注册</b>
                                </div>
                            {/if}
                        </th>
                    </tr>
                </table>
            </div>
        </div>


        <div class="col-sm-12">
            <div class="card-box">
                <div class="comment">
                    <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
                    <div class="comment-body">
                        <div class="comment-text">
                            <div class="comment-header">
                                <a href="#" title="">Kim Ryder</a><span>about 4 hours ago</span>
                            </div>
                            i'm in the middle of a timelapse animation myself! (Very different
                            though.) Awesome stuff.
                        </div>
                        <div class="comment-footer">
                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <img src="assets/images/users/avatar-7.jpg" alt="" class="comment-avatar">
                    <div class="comment-body">
                        <div class="comment-text">
                            <div class="comment-header">
                                <a href="#" title="">Nicolai Larson</a><span>10 hours ago</span>
                            </div>
                            the parallax is a little odd but O.o that house build is awesome!!
                        </div>
                        <div class="comment-footer">
                            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                            <a href="#">Reply</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<script type="text/javascript">
</script>
{include file="public/footer" /}