

#top{display:none;}

#box .bg{width:100%;height:340px;background:#000;filter:alpha(opacity=70); opacity:0.7;  top:132px; left:0px;}

#list{width:1004px;height:446px;top:75px;left:50%;display:inline;margin-left:-502px;}

#list ul {margin:0px;padding:0px; float:left;}

#list li{width:100px;border:3px solid #000;list-style-type:none;overflow:hidden;cursor:pointer;}

#list li img{width:100%;height:100%;vertical-align:top;}

#list li div{width:100%;height:100%;background:#000;filter:alpha(opacity=70); opacity:0.7;  z-index:1; top:0px; left:0px;}

#list li .b_tit{width:100%;height:120px; z-index:1; bottom:-100%; left:0px;margin:0px;padding:0px;}

#list li .opacity{width:100%;height:120px;background:#000;filter:alpha(opacity=80); opacity:0.8;  z-index:1; bottom:0px; left:0px;}

#list li .tit{width:324px;height:120px;padding:0 10px; z-index:2; bottom:0px; left:0px;}

#list li .tit span{width:100%;height:30px;font-weight:normal;float:left;text-align:left;line-height:30px;color:#fff;border-bottom:1px solid #2f2f2c;margin:0px;padding:0px;}

#list li .tit span em{color:#ba0707;font-style:normal;float:none;}

#list li .tit em{color:#fff;line-height:25px;float:left;margin:0px;padding:5px 0;font-style:normal;}


#list a.prev{background-position:0 0; left:-54px;}

#list a.next{background-position:-39px 0; right:-100px;}


#bottom .title{width:100%;height:60px;line-height:60px;color:#fff;text-align:center;left:0px;bottom:0px;font-family:Verdana;}

#bottom .title a{background:#666666;text-decoration:none;color:#fff; padding:3px 5px;}
