{include file="public/header" /}

    <link href="/resource/text-editing/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/resource/text-editing/css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .UserNum{float:left;font-size:15px;font-weight:bold;padding:0px 6px;width:33%;}
        .leftBorder{border-left:solid 1px gray;display:inline;}
        .number{display:block;}
        .userInfo{text-align:center;width:100%;}
        .user-info{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:center;width:40%;margin:0 auto;}
        .author{width:120px;}
        .commit{width:140px;}
        .handle{width:230px;}
        .operation{width:200px;}
        .name{height:60px;line-height:60px;}
        .select{color:#71b6f9;}
    </style>

    <div  class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card-box">
                <!-- <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">清空</a></li>
                        <li class="divider"></li>
                    </ul>
                </div> -->

                <h4 class="header-title m-t-0 m-b-30">私信列表</h4>

                <ul class="list-group m-b-0 user-list">

                    {foreach $messages_list as $message}
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                {if condition="$users[$message.send_uid]['headimg']"}
                                <img src="/{$users[$message.send_uid]['headimg']}" alt="{$users[$message.send_uid]['nikename']}" class="img-circle user-img" style="width:30px;height:30px;">
                                {else}
                                <img src="/resource/images/user.png" alt="{$users[$message.send_uid]['nikename']}" class="img-circle user-img" style="width:30px;height:30px;">
                                {/if}
                            </div>
                            <div class="user-desc">
                                <span class="name" style="height:24px;line-height:24px;">
                                    {$users[$message.send_uid]['nikename']}
                                    <span class="badge badge-danger message-count">{$message.count}</span>
                                </span>
                                <span class="desc">{$message.message}</span>
                            </div>
                        </a>
                    </li>
                    {/foreach}

                   
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="col-lg-12">

                <div class="panel panel-custom panel-border" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel Default</h3>
                    </div>
                    <div class="panel-body" style="height:300px;background: #F2F2F5; border: solid 2px #D9D9D9;overflow-y:auto">
                        
                    </div>
                </div>

            </div>
            <div class="col-lg-12" >
                <div class="card-box">
                    <section id="editor" style="margin-bottom:20px;">
                        <div id='edit' style="margin-top: 30px;">
                        </div>
                    </section>
                    <div style="display:none;">
                        <textarea name="content" id="content"></textarea>
                    </div>
                    <input type="hidden" name="cartId" value="{$cart.id}">
                    <button type="button" class="btn btn-info w-md waves-effect waves-light m-b-10" onclick="doReply()"> 回复 </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/resource/text-editing/js/froala_editor.min.js"></script>
    <script type="text/javascript">
        $(function(){
              $('#edit').editable({inlineMode: false, alwaysBlank: true})
        });

        function doReply(){
            loading('show');
            var content = $('#edit').find('.froala-element').html();
            console.log(content);
            if(content=='<p><br></p>'){
                loading('hide');
                var $toast = toastr['error']('回复内容不能为空！');
                return false;
            }
            $("#content").val(content);
           
            $.post('{:url("Message/ReplyMessage")}',{'content':content},function(result){

            },'json')
        }

        function editUser(){
            loading('show');
            window.location.href = "{:url('ucenter/editUser')}";
        }

        function plateCart(plateId,uid){
            loading('show');
            $('#pname_'+plateId).siblings().removeAttr('style');
            $('#pname_'+plateId).attr('style','color:#71b6f9;');
            window.location.href = "{:url('ucenter/index')}?plateId="+plateId;
        }
    </script>

{include file="public/footer" /}