{include file="public/header" /}
	

	<div class="row">

        <div class="col-lg-2 col-md-2">
            <div class="card-box text-center">
                {include file="public/userinfoleft" /}
            </div>
        </div>

        <div class="col-lg-10 col-md-10">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">基本资料</h4>

                <form action="{:url('ucenter/saveUserBasic')}" method="post" enctype="multipart/form-data" data-parsley-validate novalidate id="basicFrom">
                    <div class="form-group" >
                        <label for="userName"> 性别：</label>
                        <select class="form-control select2" name="sex" id="sex" style="width:200px;">
                            <option value="0">请选择</option>
                            <option value="1" {if condition="($userinfo['sex']==1)"}selected{/if}>男</option>
                            <option value="2" {if condition="($userinfo['sex']==2)"}selected{/if}>女</option>
                            <option value="3" {if condition="($userinfo['sex']==3)"}selected{/if}>保密</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress"> 生日：</label>
                        <div>
                            <select class="form-control select2" name="year" id="year" style="width:200px;display:inline;">
                                <option value="0">年</option>
                                {for start="$year" end="1900" comparison="egt" step="-1"}
                                <option value="{$i}" {if condition="$data_year==$i"}selected{/if}>{$i}</option>
                                {/for}
                            </select>
                            <select class="form-control select2" name="month" id="month" style="width:200px;display:inline;">
                                <option value="0">月</option>
                                {for start="1" end="12" comparison="elt" step="1"}
                                <option value="{$i}" {if condition="$data_month==$i"}selected{/if}>{$i}</option>
                                {/for}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass1"> 血型：</label>
                        <select class="form-control select2" name="bloodtype" id="bloodtype" style="width:200px;">
                            <option value="未知"  {if condition="$userinfo['bloodtype']=='未知'"}selected{/if}>未知</option>
                            <option value="A" {if condition="$userinfo['bloodtype']=='A'"}selected{/if}>A</option>
                            <option value="B" {if condition="$userinfo['bloodtype']=='B'"}selected{/if}>B</option>
                            <option value="AB" {if condition="$userinfo['bloodtype']=='AB'"}selected{/if}>AB</option>
                            <option value="O" {if condition="$userinfo['bloodtype']=='O'"}selected{/if}>O</option>
                            <option value="其他" {if condition="$userinfo['bloodtype']=='其他'"}selected{/if}>其他</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="passWord2"> 出生地：</label>
                        <div>
                            <select class="form-control select2" name="province" id="province" onchange="citys($(this).val(),'city')" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                                {foreach $province as $pro} 
                                    <option value="{$pro.code}" {if condition="$homeplace['province']==$pro.code"}selected{/if}>{$pro.name}</option>
                                {/foreach}
                            </select>
                            <select class="form-control select2" name="city" id="city" onchange="areas($(this).val(),'area')" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                            </select>
                            <select class="form-control select2" name="area" id="area" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passWord2"> 居住地：</label>
                        <div>
                            <select class="form-control select2" name="live_province" id="live_province" onchange="citys($(this).val(),'live_city')" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                                {foreach $province as $pro} 
                                    <option value="{$pro.code}" {if condition="$domicile['province']==$pro.code"}selected{/if}>{$pro.name}</option>
                                {/foreach}
                            </select>
                            <select class="form-control select2" name="live_city" id="live_city" onchange="areas($(this).val(),'live_area')" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                            </select>
                            <select class="form-control select2" name="live_area" id="live_area" style="width:200px;display:inline;">
                                <option value="0">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group text-right m-b-0">
                        <button class="btn btn-primary waves-effect waves-light" type="botton" onclick="basicSubmit()">
                           提交
                        </button>
                        <button type="reset" class="btn btn-default waves-effect waves-light m-l-5">
                            取消
                        </button>
                    </div>
                </form>
            </div>
        </div><!-- end col -->

	</div>



</div>
<script type="text/javascript">
    function basicSubmit(){
    	loading('show');
    	$('#basicFrom').submit();
    }

    var home_province = "{$homeplace['province']}";
    var domi_province = "{$domicile['province']}";
    var home_city = "{$homeplace['city']}";
    var domi_city = "{$domicile['city']}";
    var home_area = "{$homeplace['area']}";
    var domi_area = "{$domicile['area']}";
    $(function(){
        if(home_province!=""){
            citys(home_province,'city');
        }
        if(domi_province!=""){
            citys(domi_province,'live_city');
        }
        if(home_city!=""){
            areas(home_city,'area');
        }
        if(domi_city!=""){
            areas(domi_city,'live_area');
        }
    })

    function citys(proCode,resName){
        // loading('show');
        var city = home_city;   
        if(resName=='live_city'){
            city = domi_city;
        }
        $.post("{:url('ucenter/proCitys')}",{proCode:proCode},function(result){
            if(result.flog==0){
                loading('hide');
                alertFun('查找城市',result.msg,false);
                return false;
            }else{
                var html = '<option value="0">请选择</option>';
                $.each(result.data,function(i,index){
                    var selected = '';
                    if(index.code==city){
                        selected = 'selected';
                    }
                    html += '<option value="'+index.code+'" '+selected+'>'+index.name+'</option>';
                })
                loading('hide');
                console.log(html);
                $('#'+resName).html(html);
            }
        },'json');
    }

    function areas(cityCode,resName){
        // loading('show');
        var area = home_area;   
        if(resName=='live_area'){
            area = domi_area;
        }
        $.post("{:url('ucenter/cityAreas')}",{cityCode:cityCode},function(result){
            if(result.flog==0){
                loading('hide');
                alertFun('查找地区',result.msg,false);
                return false;
            }else{
                var html = '<option value="0">请选择</option>';
                $.each(result.data,function(i,index){
                    var selected = '';
                    if(index.code==area){
                        selected = 'selected';
                    }
                    html += '<option value="'+index.code+'" '+selected+'>'+index.name+'</option>';
                })
                loading('hide');
                console.log(html);
                $('#'+resName).html(html);
            }
        },'json');

    }
</script>
{include file="public/footer" /}