{include file="public/header" /}
    <style type="text/css">
        .UserNum{float:left;font-size:15px;font-weight:bold;padding:0px 6px;width:33%;}
        .rightBorder{border-right:solid 1px gray;}
        .number{display:block;}
    </style>
	<div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center card-box" style="background:url(/resource/images/ucenter/background3.jpg);-moz-background-size:100% 100%;background-size:100% 100%;background-repeat:no-repeat;">
                <div>
                 	{if condition="$user->headimg"}
                    <img src="/{$user->headimg}" class="img-circle thumb-xl img-thumbnail m-b-10" alt="头像">
                    {else}
                    <img src="/resource/images/user.png" class="img-circle thumb-xl img-thumbnail m-b-10" alt="头像">
                    {/if}

                    <h3 class="text-muted m-b-30">{if condition="$user->nikename"}{$user->nikename}{else}{$user.name}{/if}</h3>

                    <p class="text-muted font-13 m-b-30">
                       用户很懒，没有自己的签名。
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div  class="row">
        <div class="col-lg-4 col-md-12">
            <div class="col-lg-12 text-center card-box"  style="float:right;width:100%;">
                <div class="UserNum rightBorder"> 
                    <a href="">
                        <strong class="number">38</strong>
                        <span>关注</span>
                    </a>
                </div>
                <div class="UserNum rightBorder">
                    <a href="">
                        <strong class="number">38</strong>
                        <span>粉丝</span>
                    </a>
                </div>
                <div class="UserNum"> 
                    <a href="">
                        <strong class="number">38</strong>
                        <span>发帖</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-12 text-center card-box"  style="float:right;width:100%;">
                 <div class="portlet-heading" style="width:30%;text-align:left;padding:0px 10px;border-right:solid 1px gray;">
                     个人信息
                 </div>
                 <div id="bg-default" class="panel-collapse collapse in">
                     <div class="WB_innerwrap">
                         <div class="m_wrap">
                            <div class="bars_box">
                                <p class="bar_title">个人资料完成度<span class="num">55%</span></p>
                                <div class="bar_box S_bg1">
                                    <div class="bar" style="width:55%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>


        <div class="col-lg-8 col-md-12">
            <div class="card-box">

                <h4 class="header-title m-t-0 m-b-30">资料展示</h4>

                <div class="row">
                    <div class="col-lg-12">

                        <ul class="nav nav-tabs">
                            <li role="presentation" class="active">
                                <a href="#home1" role="tab" data-toggle="tab">主题</a>
                            </li>
                            <li role="presentation">
                                <a href="#profile1" role="tab" data-toggle="tab">相册</a>
                            </li>
                            <li role="presentation">
                                <a href="#info" role="tab" data-toggle="tab">个人资料</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                        	<!-- 主题 -->
                            <div role="tabpanel" class="tab-pane fade in active" id="home1">
                               	<div class="row">
		                            <table class="table table table-hover m-0">
		                                <thead>
		                                    <tr>
		                                        <th>主题</th>
		                                        <th>板块</th>
		                                        <th>回复/查看</th>
		                                        <th>最后发帖</th>
		                                    </tr>
		                                </thead>
		                                {if condition="$theme"}
		                                <tbody>
		                                    <tr>
		                                        <th scope="row">1</th>
		                                        <td>Mark</td>
		                                        <td>Otto</td>
		                                        <td>@mdo</td>
		                                    </tr>
		                                    <tr>
		                                        <th scope="row">2</th>
		                                        <td>Jacob</td>
		                                        <td>Thornton</td>
		                                        <td>@fat</td>
		                                    </tr>
		                                    <tr>
		                                        <th scope="row">3</th>
		                                        <td>Larry</td>
		                                        <td>the Bird</td>
		                                        <td>@twitter</td>
		                                    </tr>
		                                </tbody>
		                                {else}
		                                 <tbody>
		                                    <tr>
		                                        <th colspan="4">无</th>
		                                    </tr>
		                                </tbody>
		                                {/if}
		                            </table>
                               	</div>
                            </div>
                        	<!-- 相册 -->
                            <div role="tabpanel" class="tab-pane fade" id="profile1">
                            	<p>Food truck fixie locavore,
                                accusamus mcsweeney's marfa nulla single-origin coffee squid.
                                Exercitation +1 labore velit, blog sartorial PBR leggings next level
                                wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                photo booth letterpress, commodo enim craft beer mlkshk aliquip jean
                                shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                                labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
                                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack
                                odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY
                                ethical culpa terry richardson biodiesel. Art party scenester
                                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed
                                echo park.</p>
                            </div>
                        	<!-- 个人资料-->
                            <div role="tabpanel" class="tab-pane fade" id="info">
                                <div class="row">
                                    {if condition="$user->nikename"}{$user->nikename}{else}{$user.name}{/if} . ( UID:{$user.id} )
                                    <br>
                                    邮箱状态：{if condition="$user.is_activate"} 未验证 {else} 验证成功 {/if}
                                    <br>
                                </div>
                            </div>
                           
                        </div>
                    </div><!-- end col -->


                </div>
                <!-- end row -->

            </div>
        </div><!-- end col -->
    </div>

{include file="public/footer" /}