{include file="public/header" /}
    <style type="text/css">
        .UserNum{float:left;font-size:15px;font-weight:bold;padding:0px 6px;width:33%;}
        .leftBorder{border-left:solid 1px gray;display:inline;}
        .number{display:block;}
        .userInfo{text-align:center;width:100%;}
        .user-info{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;text-align:center;width:40%;margin:0 auto;}
        .author{width:120px;}
        .commit{width:140px;}
        .handle{width:230px;}
        .operation{width:200px;}
        .name{height:60px;line-height:60px;}
    </style>
	<div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="text-center card-box" style="background:url(/resource/images/ucenter/background3.jpg);-moz-background-size:100% 100%;background-size:100% 100%;background-repeat:no-repeat;">
                <div>
                 	{if condition="$user->headimg"}
                    <img src="/{$user->headimg}" class="img-circle thumb-xl img-thumbnail m-b-10" alt="头像">
                    {else}
                    <img src="/resource/images/user.png" class="img-circle thumb-xl img-thumbnail m-b-10" alt="头像">
                    {/if}

                    <h3 class="text-muted m-b-30">{if condition="$user->nikename"}{$user->nikename}{else}{$user.name}{/if}</h3>

                    <div class="userInfo">
                        <p class="text-muted font-13 m-b-30 user-info">
                            {$user.info|default="用户很懒，没有自己的签名。"}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="row">
        <div class="col-lg-4 col-md-12">
            <div class="col-lg-12">
                <div class="card-box widget-user">
                    <div class="text-center col-lg-4 col-md-4">
                        <h2 class="text-custom" data-plugin="counterup">38</h2>
                        <h5>关注</h5>
                    </div>
                    <div class="text-center col-lg-4 col-md-4 ">
                        <h2 class="text-custom" data-plugin="counterup">38</h2>
                        <h5>粉丝</h5>
                    </div>
                    <div class="text-center col-lg-4 col-md-4 ">
                        <h2 class="text-custom" data-plugin="counterup">38</h2>
                        <h5>发帖</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card-box" >
                    <div class="portlet-heading" style="width:100%;text-align:left;margin-bottom:15px;">
                        <span style="padding:0px 10px;"> 个人信息 </span> 
                       |
                        <!-- <span style="padding:0px 10px;"> LV {$user->grade} </span> -->
                    </div>
                    <hr>
                    <div style="width:100%">
                        <p class="font-600 m-b-5"> 
                           个人资料
                            <span class="text-success pull-right">{$infoRate}%</span>
                        </p>
                        <div class="progress progress-bar-success-alt progress-sm m-b-5">
                            <div class="progress-bar progress-bar-success progress-animated wow animated animated"
                                 role="progressbar" aria-valuenow="{$infoRate}" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {$infoRate}%; visibility: visible; animation-name: animationProgress;">
                            </div><!-- /.progress-bar .progress-bar-danger -->
                        </div><!-- /.progress .no-rounded -->
                        <br>
                        <div class="text-center font-400" style="color:#98A6AD;cursor:pointer;" onclick="editUser()"> 
                            编辑个人资料 >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-12">
            <!-- <div class="col-lg-12 text-center card-box" style="padding:0px 10px 0px;">

                <ul class="nav nav-tabs col-lg-8">
                    <li role="presentation" class="active">
                        <a href="#home1" role="tab" data-toggle="tab">板块</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile1" role="tab" data-toggle="tab">帖子</a>
                    </li>
                </ul> -->
                
                <!-- <div class="nav nav-tabs input-group col-lg-4"> -->
                   <!--  <span class="input-group-btn">
                    <button type="button" class="btn waves-effect waves-light btn-custom">全部</button>
                    </span> -->
                    
                    <!-- <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                    <span class="input-group-btn">
                    <button type="button" class="btn waves-effect waves-light btn-custom"><i class="fa fa-search"></i></button>
                    </span> -->
                <!-- </div> -->
            <!-- </div> -->

            <div class="col-lg-12">
                <div class="card-box card-tabs">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="col-lg-12 col-md-12 col-sm-12 ">
                            <table class="table table table-hover m-0">
                                <thead>
                                    <tr>
                                        <th class="name">
                                            <div class="portfolioFilter">
                                                {foreach $Plates as $plate}
                                                <a href="javascript:void(0);" data-filter="" class="waves-effect waves-custom" onclick="plateCart('{$plate.pid}','{$userid}')">{$plate.name}</a>
                                                {/foreach}
                                            </div>
                                        </th>
                                        <th class="operation"></th>
                                        <th class="author">作者</th>
                                        <th class="commit">回复/查看</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="row port m-b-20">
                            <div class="portfolioContainer" id="cartData">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->

        </div><!-- end col -->
    </div>
    <script type="text/javascript">
        function editUser(){
            loading('show');
            window.location.href = "{:url('ucenter/editUser')}";
        }
        var first_pid = '{$first_pid}';
        var userid = '{$userid}';
        $(function(){
            if(first_pid!=''&&first_pid!='0'){
                plateCart(first_pid,userid);
            }
        })

        function plateCart(plateId,uid){
            loading('show');
            $.post("{:url('cart/userPlateCart')}",{'plateId':plateId,'uid':uid},function(result){
                if(result.flog==1){
                    loading('hide');
                    $('#cartData').html(result.data);
                }
            },'json')
        }
    </script>

{include file="public/footer" /}