        
        </div>
    </div>
        
     <!-- Footer -->
    <footer class="footer text-right">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    2016 © {:read_conf('website')['web_name']}.
                </div>
                <div class="col-xs-6">
                    <ul class="pull-right list-inline m-b-0">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Help</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

 <!-- jQuery  -->
        <script src="/resource/js/jquery.min.js"></script>
        <script src="/resource/js/bootstrap.min.js"></script>
        <script src="/resource/js/detect.js"></script>
        <script src="/resource/js/fastclick.js"></script>

        <script src="/resource/js/jquery.slimscroll.js"></script>
        <script src="/resource/js/jquery.blockUI.js"></script>
        <script src="/resource/js/waves.js"></script>
        <script src="/resource/js/wow.min.js"></script>
        <script src="/resource/js/jquery.nicescroll.js"></script>
        <script src="/resource/js/jquery.scrollTo.min.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="/resource/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="/resource/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
		<script src="/resource/plugins/morris/morris.min.js"></script>
		<script src="/resource/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <script src="/resource/pages/jquery.dashboard.js"></script>

        <!-- App js -->
        <script src="/resource/js/jquery.core.js"></script>
        <script src="/resource/js/jquery.app.js"></script>

    </body>
</html>