            <!-- Footer -->
            <footer class="footer text-right">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            2016 © 
                            {if condition="!empty($webSetting)"}
                                {$webSetting.name}
                            {else}
                                forum
                            {/if}
                            .
                        </div>
                        <div class="col-xs-6">
                            <ul class="pull-right list-inline m-b-0">
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Help</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="ApplyFriend()">申请友链</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>

        <!-- Right Sidebar -->
        <div class="side-bar right-bar" id="messages">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class=""> 私信 列表 </h4>
            <div class="notification-list nicescroll" style="overflow-y:auto">
                <ul class="list-group list-no-border user-list">
                    {if condition="!empty($messages)"}
                    {foreach $messages as $message}
                    <li class="list-group-item">
                        <a href="#" class="user-list-item">
                            <div class="avatar">
                                <!-- <i class="zmdi zmdi-account"></i> -->
                                {if condition="$users[$message.send_uid]['headimg']"}
                                <img src="/{$users[$message.send_uid]['headimg']}" alt="{$users[$message.send_uid]['nikename']}" class="img-circle user-img" style="width:30px;height:30px;">
                                {else}
                                <img src="/resource/images/user.png" alt="{$users[$message.send_uid]['nikename']}" class="img-circle user-img" style="width:30px;height:30px;">
                                {/if}
                            </div>
                            <div class="user-desc">
                                <span class="name" style="height:25px;line-height:25px;">{$users[$message.send_uid]['nikename']}</span>
                                <span class="desc">{$message.message}</span>
                                <span class="time">{:tranTime($message.ctime)}</span>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>
        <!-- /Right-bar -->
    </div>
    <script src="/resource/admin/js/admin.js"></script>
    <script src="/resource/js/home.js"></script>
    <script src="/resource/js/jquery.app.js"></script>
    <script type="text/javascript">
        function ApplyFriend(){
            loading('show');
            window.location.href = "/index/index/applyfriend.html";
        }
        function FriendList(){
            loading('show');
            window.location.href = "/index/index/friendlist.html";
        }

        window.onload = function () {
            document.onclick = function (e) {
                $("#messages").hide();
            }
        }
    </script>
    
</body>
</html>