<ul class="list-group m-b-0 user-list">
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/editUser')}')" class="user-list-item">
            <span class="name">信息修改</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/basicUserInfo')}')" class="user-list-item">
            <span class="name">基本资料</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/detailUserInfo')}')" class="user-list-item">
            <span class="name">详细资料</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/eduBackInfo')}')" class="user-list-item">
            <span class="name">教育背景</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/editWordInfo')}')" class="user-list-item">
            <span class="name">工作信息</span>
        </a>
    </li>
    <li class="list-group-item">
        <a href="javascript:void(0);" onclick="loadingUrl('{:url('ucenter/fillsecurity')}')" class="user-list-item">
            <span class="name">密保信息</span>
        </a>
    </li>
</ul>