{include file="public/header" /}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">forum -- admin </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="邮箱" name="email" type="email" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="密码" name="password" type="password" value="">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="1"> 记住我
                            </label>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <a href="javascript:void(0);" class="btn btn-lg btn-success btn-block" onclick="do_login()">登录</a>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //登录
    function do_login(){
        var email = $('input[name="email"]').val();
        var password = $('input[name="password"]').val();
        var remember = [];
        $('input[name="remember"]:checked').each(function(){
            remember.push($(this).val());    
        });

        if(email==''){
            alertFun('登录错误','登录邮箱不能为空!',false);
            return false; 
        }

        var myema =  /^[_\.0-9a-z-]+@([0-9a-z][0-9a-z-]+\.){1,4}[a-z]{2,3}$/i;
        if(!myema.test(email)) 
        { 
            alertFun('登录错误','登录邮箱格式错误!',false);
            return false; 
        }

        if(password==''){
            alertFun('登录错误','密码不能为空!',false);
            return false; 
        }

        $.ajax({
             type: "POST",
             url: "{:url('login/do_login')}",
             async: false,
             data: {email:email,password:password,remember:remember},
             dataType: "json",
             success: function(res){
                if(res.flog!=1){
                    alertFun('登录错误',res.msg,false);
                    return false;
                }else{
                    window.location.href = '/admin';
                }
             }
        });
    }
</script>
{include file="public/footer" /}
   